<ifmodule mod_rewrite.c>
 RewriteEngine On
 RewriteBase /belajarci
 RewriteCond %{REQUEST_FILENAME} !-f
 RewriteCond %{REQUEST_FILENAME} !-d
 RewriteRule ^(.*)$ /SPK_SeleksiSiswa_GAP/index.php/$1 [L]
</ifmodule>
<ifmodule !mod_rewrite.c>
 ErrorDocument 404 /SPK_SeleksiSiswa_GAP/index.php
</ifmodule>